.manage-sales-section {
    margin: 0;
}

.manage-sales-section .col-lg-5 {
    padding: 15px;
}

.manage-sales-section .highchart-element {
    border: 1px solid #ece8e8;
    box-shadow: 0.5px 0.5px #e8e0e0;
}